<h1>Albumnames#show</h1>
<p>Find me in app/views/albumnames/show.html.erb</p>
<%= page_entries_info @albumname %>
<p>
<% @albumname.each do |a| %>
  <a href="/music_titles/<%= a.id %>"><%= a.name %></a>
<hr>
<% end %>
</p>
<%= paginate @albumname %>

